__pycache__/
*.pyc
.DS_Store

# Virtual environments
.venv/
venv/
env/

# Ignore tout le dossier data et models par défaut
data/*
models/*
*.csv

# Exceptions pour le dossier data
!data/processed/
data/processed/*
!data/processed/housing_engineered.csv.gz

# Exceptions pour le dossier models
!models/xgboost.pkl
!models/scaler.pkl
!models/results.json
!models/features.json
